# pandas

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
latters = ['a','b','c']
numbers = [1,2,3]
np_arr = np.array(numbers)
dict = {'a':1,'b':2,'c':3}

In [5]:
latters

['a', 'b', 'c']

In [6]:
numbers

[1, 2, 3]

In [7]:
np_arr

array([1, 2, 3])

In [8]:
dict

{'a': 1, 'b': 2, 'c': 3}

In [10]:
pd.Series(data = numbers)

0    1
1    2
2    3
dtype: int64

In [19]:
pd.Series(data = numbers, index = latters)

a    1
b    2
c    3
dtype: int64

In [20]:
new = pd.Series(latters,numbers)

In [21]:
new + new

1    aa
2    bb
3    cc
dtype: object

In [63]:
my_df = pd.DataFrame(np.random.randn(4,5),[1,2,3,4,],['red','orange','yallow','blue','green'])

In [54]:
my_df

        red    orange    yallow      blue     green
1  0.341189  0.439028  0.335585 -0.804825  1.696999
2  1.675501  0.136915  0.349051 -0.460787  1.206540
3  0.939810  1.458592  0.360792 -0.480049  0.410658
4  1.163294  1.827354 -0.526605 -1.770506 -0.675966

In [55]:
my_df['indigo'] = my_df['red']+my_df['orange']
my_df['voilat'] = my_df['indigo']+my_df['green']

In [56]:
my_df

        red    orange    yallow      blue     green    indigo    voilat
1  0.341189  0.439028  0.335585 -0.804825  1.696999  0.780217  2.477216
2  1.675501  0.136915  0.349051 -0.460787  1.206540  1.812416  3.018955
3  0.939810  1.458592  0.360792 -0.480049  0.410658  2.398402  2.809060
4  1.163294  1.827354 -0.526605 -1.770506 -0.675966  2.990648  2.314682

In [57]:
my_df.loc[1]

red       0.341189
orange    0.439028
yallow    0.335585
blue     -0.804825
green     1.696999
indigo    0.780217
voilat    2.477216
Name: 1, dtype: float64

In [58]:
my_df.iloc[1]

red       1.675501
orange    0.136915
yallow    0.349051
blue     -0.460787
green     1.206540
indigo    1.812416
voilat    3.018955
Name: 2, dtype: float64

In [60]:
my_df.drop[1]

TypeError: 'method' object is not subscriptable